.bgAnimation {
  animation: animated 0.5s;
}
@keyframes animated {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animatePaperRegular {
  animation: animatePaperRegular 1s;
}

@keyframes animatePaperRegular {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-500%, -50%);
  }
}

.animateScissorRegular {
  animation: animateScissorRegular 1s;
}

@keyframes animateScissorRegular {
  from {
    transform: translate(50%, -50%);
  }
  to {
    transform: translate(500%, -50%);
  }
}

.animateRockRegular {
  animation: animateRockRegular 1s;
}

@keyframes animateRockRegular {
  from {
    transform: translate(-50%, 50%);
  }
  to {
    transform: translate(-50%, 500%);
  }
}

/* ***************************** */

.scissorAnimation {
  animation: scissorAnimation 1s;
}

@keyframes scissorAnimation {
  from {
    transform: translate(50%, -50%);
  }
  to {
    transform: translate(50%, -500%);
  }
}
.animationPaper {
  animation: animationPaper 1s;
}

@keyframes animationPaper {
  from {
    transform: translate(50%, -50%);
  }
  to {
    transform: translate(500%, -500%);
  }
}

.animationRock {
  animation: animationRock 1s;
}

@keyframes animationRock {
  from {
    transform: translate(100%, 50%);
  }
  to {
    transform: translate(500%, 500%);
  }
}
.animationSpock {
  animation: animationSpock 1s;
}

@keyframes animationSpock {
  from {
    transform: translate(-50%, 50%);
  }
  to {
    transform: translate(-500%, -500%);
  }
}
.animationLizard {
  animation: animationLizard 1s;
}

@keyframes animationLizard {
  from {
    transform: translate(-50%, 50%);
  }
  to {
    transform: translate(-500%, 500%);
  }
}
